torch>=2.0.0
transformers>=4.57.0
datasets>=2.20.0

git+https://github.com/zhanglei1172/llm-compressor.git@lz_exp
git+https://github.com/zhanglei1172/compressed-tensors.git@lz_exp
vllm>=0.12.0
git+https://github.com/modelscope/evalscope.git

pyyaml>=6.0
loguru>=0.7.0
rich>=13.3.4